<a href="https://colab.research.google.com/github/curomame/Engineer-Big-Data-Analysis-practical-examination/blob/master/%EB%B9%85%EB%B6%84%EA%B8%B0_%EC%8B%A4%EA%B8%B0_%EC%97%B0%EC%8A%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import seaborn as sns
import pandas as pd
sns.get_dataset_names()
df = sns.load_dataset('car_crashes')
print(df.head())

   total  speeding  alcohol  not_distracted  no_previous  ins_premium  \
0   18.8     7.332    5.640          18.048       15.040       784.55
1   18.1     7.421    4.525          16.290       17.014      1053.48
2   18.6     6.510    5.208          15.624       17.856       899.47
3   22.4     4.032    5.824          21.056       21.280       827.34
4   12.0     4.200    3.360          10.920       10.680       878.41

   ins_losses abbrev
0      145.08     AL
1      133.93     AK
2      110.35     AZ
3      142.39     AR
4      165.63     CA

In [ ]:
# 알코올 내림차순 10번째 값 파악하기
# test

In [ ]:
data = df.sort_values(by=df.columns[2],ascending=False)
ten = data.iloc[9, 2] #
data.iloc[:10,2] = ten

result = data[(data['speeding']>=7)]
print(result['alcohol'].mean())

5.600099999999999

In [1]:
#sec2
import seaborn as sns
import pandas as pd
import numpy as np
df = sns.load_dataset('planets')
print(df.head())

            method  number  orbital_period   mass  distance  year
0  Radial Velocity       1         269.300   7.10     77.40  2006
1  Radial Velocity       1         874.774   2.21     56.95  2008
2  Radial Velocity       1         763.000   2.60     19.84  2011
3  Radial Velocity       1         326.030  19.40    110.62  2007
4  Radial Velocity       1         516.220  10.50    119.47  2009

In [ ]:
del len

In [ ]:
lens = int(len(df)*0.7)
df=df[:lens]
df2 = df.copy()
df2['distance'] = df2['distance'].fillna(df2['distance'].median())
print('전처리 전',np.std(df['distance']))
print('전처리 후',np.std(df2['distance']))

전처리 전 275.0161144074896
전처리 후 267.0513844259766

In [2]:
#sec3
import seaborn as sns
import pandas as pd
import numpy as np
df = sns.load_dataset('planets')
print(df.head())

            method  number  orbital_period   mass  distance  year
0  Radial Velocity       1         269.300   7.10     77.40  2006
1  Radial Velocity       1         874.774   2.21     56.95  2008
2  Radial Velocity       1         763.000   2.60     19.84  2011
3  Radial Velocity       1         326.030  19.40    110.62  2007
4  Radial Velocity       1         516.220  10.50    119.47  2009

In [15]:
q25 = df['orbital_period'].quantile(0.25)
q75 = df['orbital_period'].quantile(0.75)
iqr = q75-q25
min = q25 - iqr*1.5
max = q75 + iqr*1.5

In [19]:
anomal = df[(df['orbital_period'] <= min) | (df['orbital_period'] >= max)]

In [21]:
anomal['orbital_period'].sum()

1818772.582